
<div class="content-block-title">Signup</div>
<div class="list-block">
	<ul>


		<li>
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title label">Email</div>
					<div class="item-input">
						
						<input type="email" can-value="profile.email" autocapitalize="off">
			
					</div>
				</div>
			</div>
		</li>
		
		<li>
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title label">Lösenord</div>
					<div class="item-input">
						
						<input type="password" can-value="profile.password">
			
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="content-block">
	<div class="row">
		<div class="col-50"><a href="#" id="cancel" class="button cancel button-big">Avbryt</a></div>
		<div class="col-50"><a href="#" id="signup" class="button save button-big active">Signup</a></div>
	</div>
	</div>
</div>




