


<div class="list-block issue-list story-list">
	<ul>
		<li class="" >
			<a href="adminstories" class="navigate">
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title title">Historier</div>
					</div>
				</div>
			</div>
			</a>
		</li>
		<li class="" >
			<a href="adminusers" class="navigate">
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title title">Användare</div>
					</div>
				</div>
			</div>
			</a>
		</li>
		
	</ul>
	
	
</div>