

<div class="locate-right">
		<a class="button small right button-fill" id="create-new">Skapa ny</a>
	</div>


<div class="list-block media-list issue-list story-list">
	<ul>
		{{#each stories}}
		{{{partial 'item'}}}
		
		{{/each}}
		
	</ul>
	
	
</div>